
body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}


#header {
    grid-column: 2;
}

#sidebar {
    background-color: rgb(95, 161, 231);
    grid-row: 1 / -1;
}

#main-content {
    background-color: lightgray;
}